.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  // overflow: auto;
  text-align: center;
}

.container h2 {
  font-family: "ABeeZee", sans-serif;
}

.container > img {
  cursor: pointer;
}

button {
  background-color: #d30a5b !important;
  // height: 38px;
  width: 100%;
}

.username__input,
.password__input {
  width: 100%;
}

.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.register {
  font-family: "ABeeZee", sans-serif;
  margin-top: 20px;
}
